<li>composer create-project symfony/framework-standard-edition my_project_name
<li>php bin/console server:run
<li>app\Resources\views\
<li>src\AppBundle\Controller
<br>
<a href="#">{{number}}</a>